/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  background-image: linear-gradient(50deg, #c5f3f3, #f9b6d9);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

.menu a {
  color: rgb(97, 85, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: rgb(252, 195, 238);
  border: solid rgb(239, 175, 239) 3px;
  border-radius: 40px;
  list-style-type: none;
  text-decoration: none;
}

.container-fluid {
  font-family: Arial, Helvetica, sans-serif;
}

.botonSearch {
  background-color: #c5f4ef;
}

.destacado {
  font-size: 60px;
  color: rgb(105, 100, 100);
  font-family: sans-serif;
  background-color: rgb(200, 193, 193);
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letraColor {
  font-size: 50px;
  color: rgb(192, 30, 189);
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navRedes {
  background-color: rgb(218, 248, 28);
  border: white 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 300px;
}
.navRedes .redes {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconoRedes {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: rgb(249, 78, 198);
  list-style-type: none;
  text-decoration: none;
}
.iconoRedes:hover {
  background-color: rgb(62, 218, 253);
  transform: scale(1.5);
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  overflow-x: hidden;
}

.logo {
  height: 400px;
  width: 450px;
  margin: 20px 500px 50px 500px;
  padding-left: px;
}
.logo:hover {
  transform: scale(1.3);
}

.headerH1 {
  color: black;
  margin-left: 470px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 80px;
}

.headerH1 {
  color: black;
  margin-left: 470px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 60px;
}

.mainH3 p {
  font-size: 30px;
  color: black;
  padding-left: 30px;
  padding-right: 40px;
}

.imagenCarousel {
  width: 500px;
  height: 500px;
}

.fotosCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 300px;
}

.accordion-button {
  color: rgb(16, 15, 15);
  background-color: rgb(222, 159, 244);
  border: rgb(179, 236, 22) solid 3px;
}

@media (min-width: 318px) and (max-width: 480px) {
  .logo {
    margin: 0;
    width: 300px;
    height: 300px;
    margin-left: 25px;
  }
  .headerH1 {
    display: none;
  }
  .imagenCarousel {
    width: 320px;
    height: 320px;
    margin-left: 5px;
  }
  .letraColor {
    display: none;
  }
  .card-text {
    display: none;
  }
  .card-title {
    display: none;
  }
}
/*@media screen and (max-width:320px) {
  body{
    overflow-x: hidden;

  }

  .logo{
    margin: 0;
    width: 250px;
    height: 250px;
  }
  .headerH1{
    display: none;
  }
  .imagenCarousel{
    width: 200px;
    height: 200px;
    padding-left: 5px;
  }
  .letraColor{
    display: none;
}
}

@media screen and (max-width:375px) {
  body{
    overflow-x: hidden;

  }

  .logo{
    height:200px ;
    width: 200px;
    padding-right: 50px;



  .headerH1{
    display: none;
  }
  .imagenCarousel{
    width: 5px;
    height: 5px;
  }

}

}*/
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.cardsCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardsCarrito .card {
  background-color: rgb(247, 149, 247);
  border: #e5f689 solid 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenProductos {
  width: 300px;
  height: 300px;
  padding-bottom: 50px;
}

.productoContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: #e9fa52;
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid .d-flex {
  background-color: #f8b1d6;
}

@media screen and (min-width: 320px) {
  .cardsCarrito {
    padding-left: 5px;
  }
  .destacado {
    font-size: 18px;
  }
}
@media screen and (min-width: 375px) {
  .cardsCarrito {
    padding-left: 6px;
  }
  .destacado {
    font-size: 25px;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.mainH3 p {
  font-size: 18px;
  color: rgb(98, 85, 85);
  padding-top: 40px;
}

.mainP p {
  font-size: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.conejo {
  display: flex;
  justify-content: center;
}

.containerGrafico {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerGrafico .figure {
  height: 600px;
  width: 600px;
  padding-top: 50px;
}

.descripcionProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardProducto {
  background-color: rgb(226, 187, 219);
  border: solid 5px rgb(227, 227, 37);
}

@media (min-width: 318px) and (max-width: 480px) {
  .descripcionProductos {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
  }
  .hr {
    display: none;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  overflow-x: hidden;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.ubicacion .mapa {
  height: 500px;
  width: 900px;
  padding-left: 100px;
  margin-left: -100px;
}

.containerMapa .mapa {
  margin-left: 1px;
}

.mainH3i {
  padding-left: 25px;
  padding-right: 25px;
}

.letraColor {
  color: rgb(192, 30, 189);
  font-size: 30px;
}

.col {
  background-color: pink;
}

.cardLocal {
  width: 500px;
  height: 500px;
  background-color: rgb(241, 183, 233);
  display: flex;
  justify-content: space-between;
}

@media (min-width: 318px) and (max-width: 480px) {
  .containerMapa .mapa {
    height: 20rem;
    width: 20rem;
    padding-left: 6px;
  }
  .mainH3i {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fotoSuscribite {
  width: 400px;
  height: 300px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 550px;
  padding-bottom: 20px;
}

.formulario {
  background-color: rgb(218, 228, 108);
}

.suscribite {
  color: rgb(75, 67, 67);
  margin-top: 100px;
}

.suscripcion {
  padding-left: 275px;
  padding-top: 20px;
}

.beneficios {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}

.containerDescuentos {
  background-color: rgb(237, 149, 237);
  border: 8px solid rgb(46, 253, 9);
  border-radius: 4px rgb(245, 65, 197);
}

.descuentoProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.descuentoProductos .card {
  background-color: rgb(247, 149, 247);
  border: #e5f689 solid 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 318px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .beneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
  }
  .fotoSuscribite {
    width: 350px;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 5px;
  }
  .descuentoProductos {
    padding-right: 10px;
    padding-left: -10px;
  }
  .destacado {
    padding-left: 50px;
  }
}

/*# sourceMappingURL=estilos.css.map */
