/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  background-image: linear-gradient(50deg, #c5f3f3, #f9b6d9);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

.menu a {
  color: rgb(97, 85, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: rgb(252, 195, 238);
  border: solid rgb(239, 175, 239) 3px;
  border-radius: 40px;
  list-style-type: none;
  text-decoration: none;
}

.container-fluid {
  font-family: Arial, Helvetica, sans-serif;
}

.botonSearch {
  background-color: #c5f4ef;
}
.botonSearch:hover {
  transform: scale(1.5);
  background-color: aqua;
}

.destacado {
  font-size: 40px;
  color: rgb(105, 100, 100);
  font-family: sans-serif;
  background-color: rgb(200, 193, 193);
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letraColor {
  font-size: 100%;
  color: rgb(192, 30, 189);
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navRedes {
  background-color: rgb(218, 248, 28);
  border: white 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 300px;
}
.navRedes .redes {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconoRedes {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: rgb(249, 78, 198);
  list-style-type: none;
  text-decoration: none;
}
.iconoRedes:hover {
  background-color: rgb(62, 218, 253);
  transform: scale(1.5);
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  overflow-x: hidden;
}

.logo {
  height: 400px;
  width: 450px;
  margin: 20px 500px 50px 500px;
  padding-left: px;
}
.logo:hover {
  transform: scale(1.3);
}

.headerH1 {
  color: black;
  margin-left: 470px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 80px;
}

.headerH1 {
  color: black;
  margin-left: 470px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 60px;
}

.mainH3 p {
  font-size: 20px;
  color: black;
  padding-left: 30px;
  padding-right: 40px;
}

.imagenCarousel {
  width: 500px;
  height: 500px;
}

.fotosCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 300px;
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    margin: 0;
    margin-left: -60px;
  }
  .headerH1 {
    display: none;
  }
  .imagenCarousel {
    width: 300px;
    height: 300px;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.cardsCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardsCarrito .card {
  background-color: rgb(247, 149, 247);
  border: #e5f689 solid 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenProductos {
  width: 300px;
  height: 300px;
  padding-bottom: 50px;
}

.productoContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: #e9fa52;
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid .d-flex {
  background-color: #f8b1d6;
}

/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.mainH3 p {
  font-size: 20px;
}

.mainP p {
  font-size: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 320px) {
  .destacado {
    font-size: 25px;
  }
  .mainH3 p {
    font-size: 15px;
  }
  .destacado {
    font-size: 25px;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
body {
  overflow-x: hidden;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.ubicacion .mapa {
  height: 500px;
  width: 800px;
  padding-left: 250px;
  margin-left: -220px;
}

.boton {
  color: rgb(97, 85, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(228, 187, 236);
  border: solid 5px rgb(248, 247, 184);
}

.containerComentarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerComentarios .comentarios {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  border: solid 3px rgb(240, 101, 210);
}

.letraColor {
  color: rgb(192, 30, 189);
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .ubicacion .mapa {
    width: 520px;
    height: 320px;
    padding-left: 2px;
    padding-right: -1px;
  }
  .comentarios {
    size: 50px;
  }
  .destacado {
    background-color: antiquewhite;
  }
}
/*COLORES*/
/*FONTS SIZE*/
/*FONTS FAMILY*/
.boton {
  color: rgb(108, 91, 91);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(228, 187, 236);
  border: solid 5px rgb(248, 247, 184);
  margin: 70px;
  margin-left: 45%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.suscribite {
  color: rgb(75, 67, 67);
  margin-top: 100px;
}

.beneficios {
  display: flex;
  justify-content: space-evenly;
}

.containerDescuentos {
  background-color: rgb(210, 154, 210);
  border: 8px solid yellowgreen;
  border-radius: 2px rgb(245, 65, 197);
}

@media (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .beneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=estilos.css.map */
