
@import './_variables.scss';


body{
  overflow-x: hidden;
}

.logo {
    height: 400px;
    width:450px;
    margin: 20px 500px 50px 500px;
    padding-left: px;
    
    &:hover{
        transform: scale(1.3);
    }
  }

  .headerH1{
    color: $color-titulo;
    margin-left: 470px;
    font-family: $font-parrafos;
    font-size: $titulo-primario;
    padding-top: 100px;
    padding-left: 80px;
  }
  
  .headerH1{
    color: $color-titulo;
    margin-left: 470px;
    font-family: $font-parrafos;
    font-size: $titulo-primario;
    padding-top: 100px;
    padding-left: 60px;
  }

  .mainH3 p {
    font-size: $titulo-secundario;
    color: black;
    padding-left: 30px;
    padding-right: 40px;
  }
  

  .imagenCarousel{
    width: 500px;
    height: 500px;
  }
  
  .fotosCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 300px;
  }

  .accordion-button{
    color: rgb(16, 15, 15);
    background-color: rgb(222, 159, 244);
    border: rgb(179, 236, 22) solid 3px ;
  }

  @media (min-width: 318px) and (max-width: 480px) {
    .logo{
      margin: 0;
      width: 300px;
      height: 300px;
      padding-left: 5px;
    }
    .headerH1{
      display: none;
    }
    .imagenCarousel{
      width: 320px;
      height: 320px;
      margin-left: 5px;
    }
    .letraColor{
      display: none;
  }
    .card-text{
      display: none;
    }
    .card-title{
      display: none;
    }
    
    
  }

/*@media screen and (max-width:320px) {
  body{
    overflow-x: hidden;
    
  }

  .logo{
    margin: 0;
    width: 250px;
    height: 250px;
  }
  .headerH1{
    display: none;
  }
  .imagenCarousel{
    width: 200px;
    height: 200px;
    padding-left: 5px;
  }
  .letraColor{
    display: none;
}
}

@media screen and (max-width:375px) {
  body{
    overflow-x: hidden;
    
  }

  .logo{
    height:200px ;
    width: 200px;
    padding-right: 50px;
  


  .headerH1{
    display: none;
  }
  .imagenCarousel{
    width: 5px;
    height: 5px;
  }

}

}*/