@import './_variables.scss';


.mainH3 p{
    font-size: 18px;
    color: rgb(98, 85, 85);
    padding-top: 40px;
}

.mainP p{
    font-size: $font-parrafos;
}

.conejo{
    display: flex;
    justify-content: center;
}

.containerGrafico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .figure{
        height: 600px ;
        width: 600px ;
        padding-top: 50px;
}

}
.descripcionProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardProducto{
    background-color: rgb(226, 187, 219);
    border:  solid 5px rgb(227, 227, 37);
    
}
   
   
@media (min-width: 318px) and (max-width: 480px) {
    .descripcionProductos{
        padding-left: 40px;
        display: flex;
        flex-direction: column;
       
    }
    .hr{
        display: none;
    }
    
  }    



