@import './_variables.scss';


.mainH3{
    font-size: $titulo-secundario;
}





@media screen and (min-width:320px) {
    .destacado{
        font-size: 25px;
    }
    .mainH3{
        font-size: 15px;
    }

}

