
@import './_variables.scss';


body{
  overflow-x:hidden;
}

  .ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .mapa {
      height: 500px;
      width: 800px;
      padding-left: 100px;
      margin-left: -300px;
    }
  }

  .containerMapa .mapa{
    margin-left: 5px;
  }




  .boton {
    color: rgb(97, 85, 85) ;
    font-family: $font-titulos;
    font-size: $titulo-secundario;
    background-color: rgb(228, 187, 236);
    border: solid 5px rgb(248, 247, 184) ;
    
    
  }

  .containerComentarios .boton{
    margin-left: 60px;
  }
  
  .containerComentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .comentarios {
      height: 200px;
      width: 300px;
      margin-top: 50px;
      border: solid 3px rgb(240, 101, 210) ;
      }  
  }

  .letraColor{
    color: rgb(192, 30, 189);
    font-size: $titulo-secundario;
  }


  @media screen and (max-width:320px) {
    .ubicacion .mapa{
      width: 250px;
      height: 320px;
      padding-left: 2px;
      padding-right: -1px;
    }

    .comentarios {
      size: 50px;
    }

    .destacado{
      background-color: antiquewhite;
    }

  
  }

      
    