
@import './_variables.scss';


body{
  overflow-x:hidden;
}

  .ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .mapa {
      height: 500px;
      width: 900px;
      padding-left: 100px;
      margin-left: -100px;
    }
  }

  .containerMapa .mapa{
    margin-left: 1px;
  }


  .mainH3i{
    padding-left: 25px;
    padding-right: 25px ;
  }


  .containerComentarios .boton{
    margin-left: 60px;
  }
  


  .letraColor{
    color: rgb(192, 30, 189);
    font-size: $titulo-secundario;
  }

  .cardLocal{
    background-color: rgb(241, 183, 233);
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 318px) and (max-width: 480px) {
    .containerMapa .mapa {
      height: 20rem;
      width: 20rem;
      padding-left: 6px;
      
      
      
    }
    .mainH3i{
      padding-left: 15px;
      padding-right: 15px ;
    }
    
    
    
  }