@import './_variables.scss';

.boton {
    color: $color-parrafos ;
    font-family: $font-titulos ;
    font-size: $boton;
    background-color: rgb(228, 187, 236);
    border: solid 5px rgb(248, 247, 184) ;
    margin: 70px;
    margin-left: 350px;
  }
  

  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .fotoSuscribite{
    width: 400px;
    height: 300px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    padding-left: 550px;
    padding-bottom: 20px;
    }
  .formulario  {
    background-color: rgb(222, 237, 183);
  }  
  
  .suscribite{
    color: rgb(75, 67, 67);
    margin-top: 100px;
  }
  .suscripcion{
    padding-left: 275px;
    padding-top: 20px;
    
  }

  .beneficios{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
  }

  .containerDescuentos {
    background-color: rgb(237, 149, 237);
    border: 8px solid rgb(46, 253, 9);
    border-radius: 4px rgb(245, 65, 197);
  }

  
  
  

  .descuentoProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .card {
      background-color: rgb(247, 149, 247);
      border: #e5f689 solid 10px;
      border-radius: 20px;
      margin-bottom: 50px;
      font-family: $font-titulos;
     }
  }


  @media (min-width: 318px) and (max-width: 480px) {
    body{
      overflow-x:hidden;
    }
    .beneficios{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 10px;
    }
    .fotoSuscribite{
      width: 300px;
      height: 200px;
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: row;
      padding-left: 60px;
    }
    .descuentoProductos{
      padding-right: 10px;
      padding-left: -10px;
    }
    
    
  }
  
