/*COLORES*/

$primario:rgb(218, 248, 28);
$color-second:rgb(192, 30, 189);
$color-parrafos:rgb(108, 91, 91);
$color-titulo:black;

/*FONTS SIZE*/
$font-primero:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-second: Georgia, 'Times New Roman', Times, serif;
$font-titulos: Verdana, Geneva, Tahoma, sans-serif;
$font-parrafos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-cards:Arial, Helvetica, sans-serif;



/*FONTS FAMILY*/
$titulo-primario: 30px;
$titulo-secundario: 20px;
$parrafos: 15px;
